.wish-list {
    padding-top: 20px;
    &__items-box {
        display: flex;
        justify-content: center;
        margin: 15px auto 0;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
    }
    &__title {
        color: #C09919;
        font-size: 30px;
        font-family: Bodoni;
        font-weight: 500;
        margin-bottom: 30px;
    }
}


