.auth {
  padding-top: 50px;
  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    max-width: 500px;
    margin: 100px auto 0;
  }
  &__input {
    background-color: #fff;
    border-radius: 15px;
  }
}
